/*

*/
.device-iphone-x {
  height: 868px;
  width: 428px;
  position: relative;
  margin: auto;
}
.device-iphone-x .device-frame {
  background: #f8f9fa;
  border-radius: 68px;
  box-shadow: 0 0.5rem 2rem 0.5rem rgb(0 0 0 / 10%), inset 0 0 0 2px #e4b08a,
    inset 0 0 0 7px #f7e8dd;
  height: 868px;
  padding: 28px;
  width: 428px;
}
.device-iphone-x .device-content {
  border-radius: 40px;
  height: 812px;
  width: 375px;
}
.device-iphone-x .device-header {
  background: #f8f9fa;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 30px;
  left: 50%;
  margin-left: -102px;
  position: absolute;
  top: 28px;
  width: 204px;
}
.device-iphone-x .device-header::after,
.device-iphone-x .device-header::before {
  content: "";
  height: 10px;
  position: absolute;
  top: 0;
  width: 10px;
}
.device-iphone-x .device-header::after {
  background: radial-gradient(
    circle at bottom left,
    transparent 0,
    transparent 75%,
    #f8f9fa 75%,
    #f8f9fa 100%
  );
  left: -10px;
}
.device-iphone-x .device-header::before {
  background: radial-gradient(
    circle at bottom right,
    transparent 0,
    transparent 75%,
    #f8f9fa 75%,
    #f8f9fa 100%
  );
  right: -10px;
}
.device-iphone-x .device-sensors::after,
.device-iphone-x .device-sensors::before {
  content: "";
  position: absolute;
}
.device-iphone-x .device-sensors::after {
  background: #f7e8dd;
  border-radius: 3px;
  height: 6px;
  left: 50%;
  margin-left: -25px;
  top: 32px;
  width: 50px;
}
.device-iphone-x .device-sensors::before {
  background: #f7e8dd;
  border-radius: 50%;
  height: 14px;
  left: 50%;
  margin-left: 40px;
  top: 28px;
  width: 14px;
}
.device-iphone-x .device-btns {
  background: #e4b08a;
  height: 32px;
  left: -3px;
  position: absolute;
  top: 115px;
  width: 3px;
}
.device-iphone-x .device-btns::after,
.device-iphone-x .device-btns::before {
  background: #e4b08a;
  content: "";
  height: 62px;
  left: 0;
  position: absolute;
  width: 3px;
}
.device-iphone-x .device-btns::after {
  top: 60px;
}
.device-iphone-x .device-btns::before {
  top: 140px;
}
.device-iphone-x .device-power {
  background: #e4b08a;
  height: 100px;
  right: -3px;
  position: absolute;
  top: 200px;
  width: 3px;
}
