* {
  box-sizing: border-box;
}

:root {
  --font-family: IRANSansX;
  --color-telegram: #1c88d4;
  --color-twitter: #1d9bf0;
  --color-whatsapp: #25d366;
  --color-instagram: #ca2b96;
  --color-youtube: #f00;
  --color-linkedin: #0a66c2;
}
.telegram {
  color: var(--color-telegram);
}
.whatsApp {
  color: var(--color-whatsapp);
}
.instagram {
  color: var(--color-instagram);
}
.youtube {
  color: var(--color-youtube);
}
.twitter {
  color: var(--color-twitter);
}
.linkedin {
  color: var(--color-linkedin);
}

html,
body,
div {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
.site-title {
  font-size: 2.5rem;
}
.app {
  width: 350px;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 4rem 1rem;
  background: white;
}

.logo {
  width: 100px;
  height: 100px;
}
.social-btn {
  width: 90%;
}
.btn {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 48px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.btn-title {
  padding: 0 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 150px;
}
.icon {
  font-size: 3rem;
  margin: 1rem;
}
.official-site {
  background-color: #171717;
  color: white;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  margin: 0 auto 2rem auto;
}
