@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  src: url("iransans_medium.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src: url("iransans_bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url("iransans_regular.woff2") format("woff2");
}
