@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/woff2/IRANSansX-thin.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 200;
  src: url("fonts/woff2/IRANSansX-UltraLight.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/woff2/IRANSansX-light.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/woff2/IRANSansX-medium.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 600;
  src: url("fonts/woff2/IRANSansX-demibold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/woff2/IRANSansX-extrabold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/woff2/IRANSansX-black.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/woff2/IRANSansX-bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/woff2/IRANSansX-regular.woff2") format("woff2");
}
